@model Reservea.Common.Mails.Models.ReservationConfirmationMailTemplateModel

<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>
        Potwierdzenie rezerwacji
    </title>
</head>
<body>
    <p>
        Witaj @Model.Name,
    </p>
    <p>
        dziękujemy za złożenie rezerwacji w naszym serwisie. Szczegóły złożonych rezerwacji: <br />
        <table style="border:1px solid black">
            <tr style="border:1px solid black">
                <th style="border:1px solid black">Id</th>
                <th style="border:1px solid black">Zasób</th>
                <th style="border:1px solid black">Termin</th>
            </tr>
            @foreach (var item in Model.Reservations)
            {
            <tr style="border:1px solid black">
                <td style="border:1px solid black">@item.Id</td>
                <td style="border:1px solid black">@item.ResourceName</td>
                <td style="border:1px solid black">@($"{item.Start.ToString()} - {item.End.ToString()}")</td>
            </tr>
            }
        </table>
        <br />
        Pełną listę swoich rezerwacji możesz obejrzeć tutaj: <br />
        @Model.ReservationsListUrl
    </p>
</body>
</html>